<% if (theme.bitbucket) { %>
<ul class="subscription">
  <li><a href="https://bitbucket.org/<%= theme.bitbucket %>" rel="subscribe-bitbucket" title="@<%= theme.bitbucket %> on Bitbucket" target="_blank">Bitbucket</a></li>
</ul>
<% } %>