<form action="//www.google.com/search" method="get" accept-charset="UTF-8">
  <fieldset role="search">
    <input class="search" type="text" name="q" results="0" placeholder="Search">
    <input type="hidden" name="sitesearch" value="<%= config.url %>">
  </fieldset>
</form>
