<footer role="contentinfo">
  <p>
    Copyright &copy; <%= date(new Date(), 'YYYY') %>- <%= config.author || config.title %> -
    <span class="credit">Powered by <a href="http://hexo.io">Hexo</a> | Themed with <a href="https://github.com/lucaslew/whitespace">Whitespace</a></span>
  </p>
</footer>